@using CoinMarketCap
@using CoinMarketCap.Models.Cryptocurrency
@using TokeroAssignment.Models
@using TokeroAssignment.Services
@using TokeroAssignment.ViewModels
@inject HomeViewModel vm
@inject CoinMarketCapClient client
@inject Fetcher fetcher
@page "/"

<PageTitle>Home</PageTitle>

<tbody>
    <h1 class="mb-4">📈 Current investment</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Coin</th>
                <th>Price (USD)</th>
                <th>24h Change</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var token in _tokens)
        {
            <tr>
                <td>@token.Name (@token.Symbol)</td>
                    <td>@token.PriceUsd</td>
                    <td>@token.Changes</td>
            </tr>
        }
        </tbody>
    </table>
</tbody>

@code {
    private List<Token> _tokens = [];
    protected override async Task OnInitializedAsync()
    {
        _tokens =  await fetcher.GetTokenFromCmc();
    }
}